<a href="https://colab.research.google.com/github/jyotz02/Learning/blob/master/capstone/capstone.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
from google.colab import drive
drive.mount('/content/drive')

Go to this URL in a browser: https://accounts.google.com/o/oauth2/auth?client_id=947318989803-6bn6qk8qdgf4n4g3pfee6491hc0brc4i.apps.googleusercontent.com&redirect_uri=urn%3Aietf%3Awg%3Aoauth%3A2.0%3Aoob&scope=email%20https%3A%2F%2Fwww.googleapis.com%2Fauth%2Fdocs.test%20https%3A%2F%2Fwww.googleapis.com%2Fauth%2Fdrive%20https%3A%2F%2Fwww.googleapis.com%2Fauth%2Fdrive.photos.readonly%20https%3A%2F%2Fwww.googleapis.com%2Fauth%2Fpeopleapi.readonly&response_type=code

Enter your authorization code:
··········
Mounted at /content/drive

In [0]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [0]:
df=pd.read_csv("/content/drive/My Drive/dse/capstone/DATA.csv")

In [4]:
df.head()

   Id  Product_Info_1  ... Medical_Keyword_48  Response
0   2               1  ...                  0         8
1   5               1  ...                  0         4
2   6               1  ...                  0         8
3   7               1  ...                  0         8
4   8               1  ...                  0         8

[5 rows x 128 columns]

In [21]:
df.info(verbose=True)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 59381 entries, 0 to 59380
Data columns (total 128 columns):
Id                     int64
Product_Info_1         int64
Product_Info_2         object
Product_Info_3         int64
Product_Info_4         float64
Product_Info_5         int64
Product_Info_6         int64
Product_Info_7         int64
Ins_Age                float64
Ht                     float64
Wt                     float64
BMI                    float64
Employment_Info_1      float64
Employment_Info_2      int64
Employment_Info_3      int64
Employment_Info_4      float64
Employment_Info_5      int64
Employment_Info_6      float64
InsuredInfo_1          int64
InsuredInfo_2          int64
InsuredInfo_3          int64
InsuredInfo_4          int64
InsuredInfo_5          int64
InsuredInfo_6          int64
InsuredInfo_7          int64
Insurance_History_1    int64
Insurance_History_2    int64
Insurance_History_3    int64
Insurance_History_4    int64
Insurance_History_5    float64
Insurance_History_7    int64
Insurance_History_8    int64
Insurance_History_9    int64
Family_Hist_1          int64
Family_Hist_2          float64
Family_Hist_3          float64
Family_Hist_4          float64
Family_Hist_5          float64
Medical_History_1      float64
Medical_History_2      int64
Medical_History_3      int64
Medical_History_4      int64
Medical_History_5      int64
Medical_History_6      int64
Medical_History_7      int64
Medical_History_8      int64
Medical_History_9      int64
Medical_History_10     float64
Medical_History_11     int64
Medical_History_12     int64
Medical_History_13     int64
Medical_History_14     int64
Medical_History_15     float64
Medical_History_16     int64
Medical_History_17     int64
Medical_History_18     int64
Medical_History_19     int64
Medical_History_20     int64
Medical_History_21     int64
Medical_History_22     int64
Medical_History_23     int64
Medical_History_24     float64
Medical_History_25     int64
Medical_History_26     int64
Medical_History_27     int64
Medical_History_28     int64
Medical_History_29     int64
Medical_History_30     int64
Medical_History_31     int64
Medical_History_32     float64
Medical_History_33     int64
Medical_History_34     int64
Medical_History_35     int64
Medical_History_36     int64
Medical_History_37     int64
Medical_History_38     int64
Medical_History_39     int64
Medical_History_40     int64
Medical_History_41     int64
Medical_Keyword_1      int64
Medical_Keyword_2      int64
Medical_Keyword_3      int64
Medical_Keyword_4      int64
Medical_Keyword_5      int64
Medical_Keyword_6      int64
Medical_Keyword_7      int64
Medical_Keyword_8      int64
Medical_Keyword_9      int64
Medical_Keyword_10     int64
Medical_Keyword_11     int64
Medical_Keyword_12     int64
Medical_Keyword_13     int64
Medical_Keyword_14     int64
Medical_Keyword_15     int64
Medical_Keyword_16     int64
Medical_Keyword_17     int64
Medical_Keyword_18     int64
Medical_Keyword_19     int64
Medical_Keyword_20     int64
Medical_Keyword_21     int64
Medical_Keyword_22     int64
Medical_Keyword_23     int64
Medical_Keyword_24     int64
Medical_Keyword_25     int64
Medical_Keyword_26     int64
Medical_Keyword_27     int64
Medical_Keyword_28     int64
Medical_Keyword_29     int64
Medical_Keyword_30     int64
Medical_Keyword_31     int64
Medical_Keyword_32     int64
Medical_Keyword_33     int64
Medical_Keyword_34     int64
Medical_Keyword_35     int64
Medical_Keyword_36     int64
Medical_Keyword_37     int64
Medical_Keyword_38     int64
Medical_Keyword_39     int64
Medical_Keyword_40     int64
Medical_Keyword_41     int64
Medical_Keyword_42     int64
Medical_Keyword_43     int64
Medical_Keyword_44     int64
Medical_Keyword_45     int64
Medical_Keyword_46     int64
Medical_Keyword_47     int64
Medical_Keyword_48     int64
Response               int64
dtypes: float64(18), int64(109), object(1)
memory usage: 58.0+ MB

In [6]:
df.shape

(59381, 128)

In [7]:
df.columns

Index(['Id', 'Product_Info_1', 'Product_Info_2', 'Product_Info_3',
       'Product_Info_4', 'Product_Info_5', 'Product_Info_6', 'Product_Info_7',
       'Ins_Age', 'Ht',
       ...
       'Medical_Keyword_40', 'Medical_Keyword_41', 'Medical_Keyword_42',
       'Medical_Keyword_43', 'Medical_Keyword_44', 'Medical_Keyword_45',
       'Medical_Keyword_46', 'Medical_Keyword_47', 'Medical_Keyword_48',
       'Response'],
      dtype='object', length=128)

In [8]:
df.Response.value_counts()

8    19489
6    11233
7     8027
2     6552
1     6207
5     5432
4     1428
3     1013
Name: Response, dtype: int64

In [0]:
# colms with null values in df1
df1=pd.DataFrame()
df1=df.loc[:,df.isnull().any()]

In [16]:
df1.columns

Index(['Employment_Info_1', 'Employment_Info_4', 'Employment_Info_6',
       'Insurance_History_5', 'Family_Hist_2', 'Family_Hist_3',
       'Family_Hist_4', 'Family_Hist_5', 'Medical_History_1',
       'Medical_History_10', 'Medical_History_15', 'Medical_History_24',
       'Medical_History_32'],
      dtype='object')

In [18]:
df1.describe().T

                       count        mean  ...         75%         max
Employment_Info_1    59362.0    0.077582  ...    0.100000    1.000000
Employment_Info_4    52602.0    0.006283  ...    0.000000    1.000000
Employment_Info_6    48527.0    0.361469  ...    0.550000    1.000000
Insurance_History_5  33985.0    0.001733  ...    0.002000    1.000000
Family_Hist_2        30725.0    0.474550  ...    0.579710    1.000000
Family_Hist_3        25140.0    0.497737  ...    0.598039    1.000000
Family_Hist_4        40197.0    0.444890  ...    0.563380    0.943662
Family_Hist_5        17570.0    0.484635  ...    0.580357    1.000000
Medical_History_1    50492.0    7.962172  ...    9.000000  240.000000
Medical_History_10     557.0  141.118492  ...  240.000000  240.000000
Medical_History_15   14785.0  123.760974  ...  240.000000  240.000000
Medical_History_24    3801.0   50.635622  ...   64.000000  240.000000
Medical_History_32    1107.0   11.965673  ...    2.000000  240.000000

[13 rows x 8 columns]

### Checking values in every colms

In [22]:
df['Product_Info_1'].value_counts()

1    57816
2     1565
Name: Product_Info_1, dtype: int64

#### df['Product_Info_1'] has only 2 unique values

In [23]:
df['Product_Info_2'].value_counts()

D3    14321
D4    10812
A8     6835
D1     6554
D2     6286
E1     2647
A1     2363
A6     2098
A2     1974
A7     1383
B2     1122
A3      977
A5      775
C3      306
C1      285
C4      219
A4      210
C2      160
B1       54
Name: Product_Info_2, dtype: int64

#### values in Product_Info_2 is starting from A1-A8,B1-B2,C1-C4,D1-D4,E1.